div.image {
  text-align: center;
  position: relative;
  
  /* border: 0px solid #474747; */
  float: left;
  height: 240px;
  width: 238px;
  background-color:	rgb(26, 0, 0);
  margin:  10px 0px 200px 30px;
}

div.image:hover {
  border: 1px solid474747#f0f0f0;

}

div.image img {
  margin:10px;
  text-align: center;
  width: auto; 
  height: 175px; 
}

div.cut {
  border-right-color: #474747;
  border-style: solid;
  border-top-color: transparent;
  border-width: 52px 49px 0 0;
  position: absolute;
  right: -1%;
}
div.dates{
  background-color: #474747;
  /* position:absolute; */
  height: 100%;
  padding: 1% 1% 20% 1%;
}
div.date{
/* position:absolute; */
  color:white;
  margin: 1% 10% 0% 25%
}
@media only screen and (max-width: 900px) {
  div.date{
    margin: 1% 5% 0% 40%
  }
}
@media only screen and (max-width: 700px) {
  div.date{
    margin: 1% 5% 0% 50%
  }
}
@media only screen and (max-width: 500px) {
  div.date{
    /* color:#474747; */
    margin: 90% 5% 0% 10%
  }
}